$font-size-base: 16px;

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootstrap-material-design/sass/material";

@import "home/home";

p.input-tip {
  display: none;
}
input:focus + p.input-tip,
select:focus + p.input-tip,
textarea:focus + p.input-tip {
  display: block;
}
